* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    padding: 0px;
    height: 100vh;
    width: 100%;
    color:  #484848;
    font-size: 14px;
    font-family: Circular,"Helvetica Neue", Helvetica , Arial, sans-serif;
    /* border: 2px dashed orange; */
}
/* body div {
    display: flex;

} */
.container {
    background-color: yellow;
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: 30px;
}